<!-- Javascript Libraries and Plugins -->
<script type="text/javascript" src="/js/lib/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/js/lib/jquery.i18n.properties-1.0.9.js"></script>
<script type="text/javascript" src="/js/lib/RSA-lib.js"></script>
<script type="text/javascript" src="/js/lib/tcg-lib.js"></script>
<script type="text/javascript" src="/js/lib/placeholder.jquery.js"></script>

<!-- Custom Javascript -->
<script type="text/javascript" src="/js/2kc-register.js"></script>
